fastapi==0.116.1
starlette==0.47.3
uvicorn==0.35.0
jinja2==3.1.6
kubernetes==33.1.0
pydantic>=2.7,<3
typing-extensions
anyio
click
h11
MarkupSafe
certifi
six
python-dateutil
PyYAML
google-auth
websocket-client
requests
requests-oauthlib
oauthlib
urllib3
durationpy
